{{- define "title"}}Terms of Service{{end}}
{{- define "content"}}
<div class="max-w-7xl mx-auto px-4 space-y-4 py-6">
  <h1 class="mt-8 text-3xl font-semibold text-gray-700">Terms of Service</h1>

  <h2 class="text-xl font-medium">General Information</h2>
  <p>Code Pyjamas ("Us" ,"We", “Our”) provides online facilities, tools, services or information where
  potential employers or job posters place advertisements for available roles and positions (the “Services”). We provide
  website Code Pyjamas (https://codepyjamas.com) and other related services and any sub-domains of
  this site unless expressly excluded by their own terms and conditions (collectively, the "Site").<p>

  <p>By accessing the Site, the individual accessing or using the Service, or the company, or other
  legal entity on behalf of which such individual is accessing or using the Service,
  as applicable (“you”) are agreeing to be bound by these Terms of Service, our
  <a href="/privacy-policy" class="underline">Privacy Policy</a>, all applicable laws and regulations, and agree that
  you are responsible for compliance with any applicable local laws. If you do not agree with any
  of these terms, you are prohibited from using or accessing this site. The materials contained in
  this website are protected by applicable copyright and trademark law.</p>

  <h2 class="text-xl font-medium">Intellectual Property Rights</h2>
  <p>Unless otherwise indicated, the Site is our proprietary property and all source code, databases,
    functionality, software, website designs, including, but not limited to, text, graphics, logos, icons,
    images, sound clips, video clips, data compilations, page layout (collectively, the “Content”)
    are owned or controlled by us or licensed to us.</p>

  <p>By continuing to use the Site you acknowledge that such Content is protected by applicable United
    Kingdom and International intellectual property and other laws. You may not print, reproduce, copy,
    distribute, store or in any other fashion re-use Content from the Site unless given express written
    permission to do so by Code Pyjamas.</p>

  <p>Specifically you agree that: You will not systematically copy Content from the Site with a view
    to creating or compiling any form of comprehensive collection, compilation, directory or database
    unless given express written permission to do so by Code Pyjamas.</p>

  <h2 class="text-xl font-medium">Links to Other Websites</h2>
  <p>This Site may contain links to other sites including, but not limited to, those of Job Listings.
    Unless expressly stated, these sites are not under the control of Code Pyjamas.  We assume no
    responsibility for the content of such websites and disclaim liability for any and all forms of
    loss or damage arising out of the use of them. The inclusion of a link to another site on this
    Site does not imply any endorsement of the sites themselves or of those in control of them.</p>

  <h2 class="text-xl font-medium">Job Listings</h2>
  <p>When submitting a job listing to the Site you should do so in accordance with the following rules:</p>
  <ul class="list-disc list-inside">
    <li>If the Job is filled or no longer available to candidates you would no longer be eligible to list
      on the Code Pyjamas Site and agree to adjust your listing(s) forthwith to flag them as filled,
      or have them removed.</li>
  </ul>

  <p> In order to submit a job listing, you are required to submit certain job details and/or
    business details. By continuing to use the Site you represent and warrant that:</p>

  <ul class="list-disc list-inside">
    <li>any information you submit is accurate and truthful; and</li>
    <li>you will keep this information accurate and up-to-date.</li>
  </ul>

  <p>By submitting a job listing you warrant and represent that you are the author of that job
    listing or that you have acquired all of the appropriate rights and / or permissions to submit it.
    Code Pyjamas accepts no responsibility or liability for any infringement of third party
    rights by such job listings or Content.</p>

  <p>Job posters and applicants agree that when corresponding with each other, such correspondence
    will be done directly and as such any contracts, employment agreements and/or arrangements will
    be formed between the two parties. Code Pyjamas will not be party to any such agreements,
    contracts or arrangements.</p>

  <p>Code Pyjamas will not be liable in any way or under any circumstances for any loss or damage
    that you may incur as a result of such Job Listings, nor for any errors or omissions
    in job listings. Use of and reliance upon job listings is entirely at your own risk.</p>

  <h2 class="text-xl font-medium">Availability of the Site</h2>
  <p>Code Pyjamas accepts no liability for any disruption or non-availability of the Site resulting
    from external causes including, but not limited to, ISP equipment failure, host equipment
    failure, communications network failure, power failure, natural events, acts of war or legal
    restrictions and censorship.</p>

  <p>Code Pyjamas reserves the right to alter, suspend or discontinue any part (or the whole of)
    the Site including, but not limited to, the features or services available. These Terms of
    Service shall continue to apply to any modified version of the Site unless it is expressly
    stated otherwise.</p>
  <p>If you have any questions about your Job Listing you may contact us by email at team (at) codepyjamas.com.</p>

  <h2 class="text-xl font-medium">Termination and/or Suspension</h2>
  <p>These Terms of Service shall remain in full force and effect while you use the Site. Without
    limiting any other provision of these Terms of Service, we reserve the right to, in our sole
    discretion and without notice or liability, deny access to and use of the Site
    (including blocking certain IP addresses), to any person for any reason or for no reason,
    including without limitation for breach of any representation warranty, or covenant contained
    in these Terms of Service or any applicable law or regulation. We may terminate your use of
    the Site or delete any content or information that you posted at any time, without warning,
    at our sole discretion.</p>

  <p>If we terminate or suspend your account as a result of your breach of these Terms of Service
    you may not be entitled to any refund.</p>

  <h2 class="text-xl font-medium">Computer Offences</h2>
  <p>If you do anything which is a criminal offence under the Computer Misuse Act 1990 (such as for
    example introducing viruses, worms, Trojans and other technologically harmful or
    damaging material) your right to use the Site will end immediately, we will report you
    to the relevant authorities and provide them with details of your identity. You must not try to
    obtain access to our server or any connected database or make any attack on the Site.</p>

  <h2 class="text-xl font-medium">Jurisdiction</h2>
  <p>These Terms of Service shall be governed by and construed in accordance with the laws of
    England and Wales. Any matters arising in connection to this agreement shall be subject to the
    exclusive jurisdiction of the courts of England and Wales.</p>

  <h2 class="text-xl font-medium">Contact</h2>
  <p><a href="mailto:team@codepyjamas.com">team (at) codepyjamas.com</a></p>
</div>
{{- end}}
