{{ define "title" }}Create my profile{{ end }}
{{ define "content" }}
<form action="/create-profile" method="POST" enctype="multipart/form-data">
  <div>
    <label for="photo">Photo</label>
    <input type="file" name="photo">
  </div>

  <div>
    <label for="firstname">First name</label>
    <input type="text" name="firstname" value="{{ .Data.Firstname }}" />
    {{ with .Errors.Firstname }}
    <div style="background-color: red;">
      {{ . }}
    </div>
    {{ end }}
  </div>

  <div>
    <label for="lastname">Lastname</label>
    <input type="text" name="lastname" value="{{ .Data.Lastname }}" />
  </div>

  <div>
    <label for="biography">Biography</label>
    <textarea name="biography">{{ .Data.Biography }}</textarea>
  </div>

  <div>
    <label for="website">Website</label>
    <input type="text" name="website" value="{{ .Data.Website }}">
    {{ with .Errors.Website }}
    <div style="background-color: red;">
      {{ . }}
    </div>
    {{ end }}
  </div>

  <div>
    <label for="twitter">Twitter</label>
    <input type="text" name="twitter" value="{{ .Data.Twitter }}">
  </div>

  <div>
    <label for="github">Github</label>
    <input type="text" name="github" value="{{ .Data.Github }}">
  </div>

  <div>
    <button>Create my profile</button>
  </div>
</form>
{{ end }}
