{{ define "title" }}UK JavaScript Jobs for Code Pyjamas{{ end -}}
{{ define "plinks" }}{{ end -}}
<!DOCTYPE html>
<html lang="en">
<head>
  {{- if .Site.GTMID}}
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{.Site.GTMID}}');</script>
  {{- end}}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="UK javascript jobs, Nodejs jobs, javascript developer, frontend developer, nodejs, Typescript">
  <meta name="description" content="JavaScript Jobs in the UK for Code Pyjamas">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="UK JavaScript Jobs for Code Pyjamas">
  <meta name="twitter:description" content="JavaScript Jobs in the UK">
  <meta name="twitter:image" content="">

  <title>{{ template "title" . }}</title>
  <link rel="shortcut icon" type="image/jpg" href="/static/favicon.ico"/>
  {{- if .Site.DevMode}}
  <link href="/static/css/fonts.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/tailwind.css">
  {{- else}}
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/tailwind.css?v={{manifest.Version}}">
  {{- end}}
  <script defer src="https://unpkg.com/alpinejs@3.2.2/dist/cdn.min.js"></script>
  {{ template "plinks" . -}}
</head>
<body class="bg-white flex flex-col h-screen justify-between">
{{- if .Site.GTMID}}
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{.Site.GTMID}}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
{{- end}}
  {{ template "nav" . }}

  <main class="mb-auto">
    {{- template "content" . }}
  </main>

  {{- template "footer" . }}
</body>
</html>
