{{ define "title" }}Web app{{ end -}}
{{ define "plinks" }}{{ end -}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ template "title" . }}</title>
  <link rel="stylesheet" href="/static/css/tailwind.css">
  <script defer src="https://unpkg.com/alpinejs@3.2.2/dist/cdn.min.js"></script>
  {{ template "plinks" . -}}
</head>
<body class="bg-white flex flex-col h-screen justify-between">
  {{ template "nav" . }}

  <main class="mb-auto">
    {{ template "content" . }}
  </main>

  {{ template "footer" . }}
</body>
</html>
