{{ define "title" }}Talent : Sign up{{ end }}
{{ define "content" }}
<div class="max-w-xl mx-auto px-6 lg:px-0">
  <div class="py-16 text-center md:text-left">
    <h3 class="mt-2 font-semibold text-xl sm:text-2xl text-gray-600">Create your account</h3>
  </div>
  {{ with .Errors.Form }}
    <span class="text-error">{{ . }}</span>
  {{ end }}
  <form action="/talent/signup" method="POST" class="space-y-6">
    <div>
      <label for="email" class="block mb-2 text-base sm:text-lg font-semibold text-gray-800">
        * Email address
      </label>
      <input id="email" name="email" type="email" value="{{ .Data.Email }}"
        autocomplete="email" required
        class="formInput{{ if .Errors.Email }} input-error{{ end }}" placeholder="JohnDoe@email.com">

      {{ with .Errors.Email }}
      <div class="text-error">
        {{ . }}
      </div>
      {{ end }}
    </div>

    <div class="flex justify-center">
      <button type="submit" class="button">
        Create a talent account
      </button>
    </div>

    <p>Already a member? <a href="/signin">Sign in here.</a></p>
  </form>
</div>

{{ end }}
