{{- define "title"}}Employer Account Home{{end}}
{{- define "content"}}
<div class="max-w-7xl mx-auto">
  <div class="text-center mt-16 px-8">
    <h1 class="text-2xl font-semibold text-blue-700 tracking-tighter">Welcome to Code Pyjamas! &#x1F44B;</h1>
    {{if not .Data}}
    <p class="text-semibold text-gray-700 text-lg mt-6">You currently have no job posts</p>
    {{end}}
    <p class="text-gray-700 text-lg mt-6">Start hiring tech talents now</p>
    <div class="mt-10">
      <a href="/employer/{{ .UID }}/create-job" class="px-4 py-2 button">
        Post a job
      </a>
    </div>
  </div>
  {{if .Data}}
  <div class="mt-16 md:mt-28 max-w-6xl mx-auto px-4 md:px-6">
    <h2 class="my-10 text-gray-600 tracking-tighter font-semibold text-xl">Your Job Posts</h2>
    <ul>
      {{- range .Data.OrderJobs}}
      <li>
        <div class="relative pb-4">
          <span class="absolute top-5 left-10 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
          <div class="flex items-start gap-x-2">
            <div class="relative px-1">
              <div class="h-10 w-10 bg-gray-100 rounded-full ring-8 ring-white flex items-center justify-center">
                <svg class="h-6 w-6 text-gray-400" fill="currentColor" stroke="currentColor" viewBox="0 0 24 24">
                  <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                </svg>
                <span class="absolute -bottom-0.5 -right-1 bg-white rounded-tl px-0.5 py-px">
                  <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                  </svg>
                </span>
              </div>
            </div>
            <div class="min-w-0">
              <div class="flex flex-col sm:max-w-lg lg:max-w-none sm:flex-row sm:items-baseline gap-x-1">
                {{- if .Job.Visible}}
                <a href="/jobs/{{.Job.Slug}}" class="font-medium text-gray-900 hover:text-gray-700 text-base sm:text-lg">{{.Job.Title}}</a>
                {{- else}}
                <span class="font-medium text-gray-900 text-base sm:text-lg">{{.Job.Title}}</span>
                {{- end}}
                <div class="flex items-center">
                  {{- if .Job.Visible}}
                  <span class="relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
                    <span class="absolute flex-shrink-0 flex items-center justify-center">
                      <span class="h-1.5 w-1.5 rounded-full bg-green-500" aria-hidden="true"></span>
                    </span>
                    <span class="ml-3.5 font-medium text-gray-500">Visible</span>
                  </span>
                  {{- else}}
                  <span class="relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 text-sm">
                    <span class="absolute flex-shrink-0 flex items-center justify-center">
                      <span class="h-1.5 w-1.5 rounded-full bg-gray-500" aria-hidden="true"></span>
                    </span>
                    <span class="ml-3.5 font-medium text-gray-500">Invisible</span>
                  </span>
                  {{- end}}
                  <span class="ml-6 flex items-center">
                    {{- if .Job.Pinned}}
                    <span class="material-icons-outlined text-green-700 text-xl">push_pin</span>
                    {{- else}}
                    <span class="material-icons-outlined text-gray-500 text-xl">push_pin</span>
                    {{- end}}
                    {{- if eq (derefstr .Job.HLType) "custom"}}
                    <span class="px-2 py-2 border-2 rounded-md" style="background-color: {{derefstr .Job.HLCol}}; border-color: {{derefstr .Job.HLCol}};"></span>
                    {{- end}}
                    {{- if eq (derefstr .Job.HLType) "standard"}}
                    <span class="bg-yellow-100 border-2 border-yellow-200 px-2 py-2 rounded-md"></span>
                    {{- end}}
                    {{- if eq (derefstr .Job.HLType) ""}}
                    <span class="border-2 border-gray-500 px-2 py-2 rounded-md"></span>
                    {{- end}}
                    {{- if .Job.LogoURL}}
                    <img src="/{{.Job.LogoURL}}" alt="logo" class="h-5 w-5 rounded-md ml-1">
                    {{- end}}
                  </span>
                </div>
              </div>
              <p class="mt-1 text-sm text-gray-500">
                Posted on {{admintime .Job.CreatedAt}}
              </p>
            </div>
            <span class="ml-auto">
              <a href="/employer/{{$.UID}}/edit-job/{{.Job.ID}}" class="inline-flex items-center px-3 py-0.5 border border-blue-600 text-blue-600 hover:text-blue-500 hover:bg-blue-50 rounded-full shadow-sm text-sm">
                <svg class="w-4 h-4 inline-flex" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" /></svg>
                Edit
              </a>
            </span>
          </div>
        </div>
      </li>
      {{- range .Orders}}
      <li class="pb-16">
        <div class="relative">
          <div class="relative flex items-start space-x-3">
            <div class="relative px-6">
              <span class="absolute top-2 ml-4 left-14 h-6 w-0.5 transform rotate-90 bg-gray-200"></span>
              <div class="h-8 w-8 bg-gray-100 rounded-full ring-8 ring-white flex items-center justify-center">
                {{if or (eq .Status "fulfilled") (eq .Status "subscribed")}}
                <svg class="h-5 w-5 text-green-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                </svg>
                {{- else}}
                <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                </svg>
                {{- end}}
              </div>
            </div>
            <div class="flex-1">
              <div class="rounded-lg">
                <div class="relative border border-gray-200 px-4 py-3">
                  {{- if eq .Status "pending"}}
                  <span class="absolute top-4 right-2 ml-4 inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-gray-200 text-gray-600">
                    Pending
                  </span>
                  {{- end}}
                  <dl class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-6 gap-y-4">
                    <div class="col-span-1 lg:col-span-2">
                      <dt class="text-sm font-medium text-gray-500">
                        Order ID
                      </dt>
                      <dd class="mt-2 text-sm text-gray-900">
                        <span class="tracking-tighter break-words">{{.ID}}</span>
                      </dd>
                    </div>
                    <div class="sm:col-span-1">
                      <dt class="text-sm font-medium text-gray-500">
                        Start Date
                      </dt>
                      <dd class="mt-2 text-sm text-gray-900">
                        {{admintime .StartAt}}
                      </dd>
                    </div>
                    <div class="sm:col-span-1">
                      <dt class="text-sm font-medium text-gray-500">
                        End Date
                      </dt>
                      <dd class="mt-2 text-sm text-gray-900">
                        {{endAt .EndAt}}
                      </dd>
                    </div>
                    <div class="sm:col-span-1">
                      <dt class="text-sm font-medium text-gray-500">
                        Features
                      </dt>
                      <dd class="mt-1 text-sm text-gray-900">
                        <span class="inline-flex items-center text-sm">
                          <span class=" flex-shrink-0 flex items-center justify-center">
                            {{- if .Pinned}}
                            <span class="material-icons-outlined text-green-700 text-lg">push_pin</span>
                            {{- else}}
                            <span class="material-icons-outlined text-gray-500 text-lg">push_pin</span>
                            {{- end}}
                            {{- if eq (derefstr .HLType) "custom"}}
                            <span class="px-2 py-2 ml-1 rounded-sm" style="background-color: {{derefstr .HLCol}}"></span>
                            {{- end}}
                            {{- if eq (derefstr .HLType) "standard"}}
                            <span class="bg-yellow-100 px-2 py-2 ml-1 rounded-sm"></span>
                            {{- end}}
                            {{- if eq (derefstr .HLType) ""}}
                            <span class="border border-gray-500 px-2 py-2 ml-1 rounded-sm"></span>
                            {{- end}}
                            {{- if .LogoURL}}
                            <img src="/{{.LogoURL}}" alt="logo" class="w-4 h-4 ml-1 rounded-sm">
                            {{- end}}
                          </span>
                        </span>
                      </dd>
                    </div>
                    <div class="sm:col-span-1">
                      <dd class="mt-2 text-sm text-gray-900">
                        {{if and (eq .Kind "autorenew") (eq .Status "subscribed")}}
                        <form action="/employer/{{ $.UID }}/stripe-portal" method="POST">
                          <button type="submit" class="px-2 py-1 border border-transparent text-sm leading-4 tracking-tight font-medium rounded-md shadow-sm text-gray-600 bg-gray-200 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            Manage Subscription
                          </button>
                        </form>
                        {{- end}}
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      {{- end}}
      {{- end}}
    </ul>
  </div>
  {{- end}}
</div>
{{- end}}
