{{ define "plinks" -}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script src="/static/js/app.js"></script>
  <script>
  document.addEventListener('DOMContentLoaded', function(event) {
    const simplemde = new SimpleMDE({
      element: document.getElementById("description")
    });

    {{- if eq .Data.Mode "create" }}
    const currencySymbol = '{{ (index .Page.Prices "basicJobListingRecurring").UnitAmountDisplay }}'.substr(0, 1);
    priceCalcHandler({
      basicJobListing: {{ (index .Page.Prices "basicJobListingRecurring").UnitAmount -}},
      logo: {{- (index .Page.Prices "logoRecurring").UnitAmount -}},
      pinned30: {{- (index .Page.Prices "pinned30Recurring").UnitAmount -}},
      standardHighlightRecurring: {{- (index .Page.Prices "standardHighlightRecurring").UnitAmount -}},
      customHighlightRecurring: {{- (index .Page.Prices "customHighlightRecurring").UnitAmount -}}}, currencySymbol);
    {{- end }}
  });
  </script>
{{ end -}}
{{ define "title" }}Add a new job post{{ end }}
{{ define "content" }}
{{ if and .Site.DevMode .Site.HasAppError }}
APPLICATION ERRROR - Check the server logs
{{ end }}

{{ printf "%#v" $.Page.SkillsTagSet.Groups }}

<div class="max-w-3xl mx-auto w-full bg-gray-50 py-10 my-8 px-8 rounded-sm">
  <div>
    <h2 class="text-blue-600 font-semibold text-4xl">
      Hire Code Pyjamas.
    </h2>
    <h2 class="text-blue-900 font-medium text-2xl mt-3">Create a job post to hire the best.</h2>
  </div>

  <form method="POST" action="{{ .Page.Action }}" enctype="multipart/form-data" class="mt-12 divide-y divide-gray-200">
    <!-- Salary Currency -->
    <input type="hidden" name="salary-currency" value="GBP" />
    {{- if eq .Errors.SalaryCurrency "inputEmpty" -}}
    <span class="text-error">Specify the currency for the salary</span>
    {{- else if eq .Errors.SalaryCurrency "inputInvalid" -}}
    <span class="text-error">Invalid currency code</span>
    {{ end -}}
    <div>
      <div class="py-6">
        <h3 class="text-xl tracking-tighter font-semibold text-blue-900">Job Details</h3>
      </div>

      <!-- Job title -->
      <div class="py-2">
        <label for="title" class="font-medium text-base text-blue-900 block">* Job Title</label>
        <input type="text" name="title" value="{{ .Data.Title }}" class="formInput {{- if .Errors.Title }} input-error{{ end }}" placeholder="Job Title" />
        {{- if eq .Errors.Title "inputEmpty" }}
        <span class="text-error">Enter your job title</span>
        {{- end }}
      </div>

      <!-- Job location -->
      <div class="py-2">
        <label for="location" class="font-medium text-base text-blue-900 block">* Location</label>
        <input type="text" name="location" value="{{ .Data.Location }}" class="formInput {{ if .Errors.Location }} input-error{{ end }}" />
        {{- if eq .Errors.Location "inputEmpty" }}
        <span class="text-error">Enter the location of the company</span>
        {{- end }}
      </div>

      <!-- Remote Working option -->
      <fieldset class="py-6">
        <div>
          <legend class="font-medium text-base text-blue-900">Is this role remote?</legend>
          <p class="text-sm text-gray-400">
            Choose Temporarily Remote if you expect the Talents to return to the office later
          </p>
        </div>
        <div class="mt-4 space-y-4 sm:space-y-0 sm:flex sm:gap-4">
          <div class="flex items-center">
            <input name="remote" type="checkbox" value="remote" {{ if .Data.Remote.RemoteWork -}}checked {{ end -}}class="focus:ring-blue-500 h-5 w-5
            text-blue-600 border-gray-300 rounded" />
            <label class="ml-3 block text-base font-normal text-gray-500">Remote</label>
          </div>
          <div class="flex items-center">
            <input name="remote" type="checkbox" value="temp_remote" {{ if .Data.Remote.TempRemote -}}checked {{ end -}}class="focus:ring-blue-500 h-5 w-5 text-blue-600 border-gray-300 rounded" />
            <label class="ml-3 block text-base font-normal text-gray-500">Temporarily Remote</label>
          </div>
        </div>
      </fieldset>

      <!-- Type of employment -->
      <fieldset class="py-6">
        <legend class="font-medium text-base text-blue-900">Type of Employment</legend>
        <div class="space-y-4 sm:space-y-0 sm:flex sm:gap-4 mb-6">
          <div class="flex items-center">
            <input name="emp-type" type="checkbox" value="temporary" {{ if .Data.EmpType.Temporary -}}checked {{ end -}}class="focus:ring-blue-500 h-5 w-5 text-blue-600 border-gray-300 rounded">
            <div class="ml-3">
              <label class="font-normal text-gray-500">Temporary</label>
            </div>
          </div>
          <div class="flex items-center">
            <input name="emp-type" type="checkbox" value="permanent" {{ if .Data.EmpType.Permanent -}}checked {{ end -}}class="focus:ring-blue-500 h-5 w-5 text-blue-600 border-gray-300 rounded">
            <div class="ml-3">
              <label class="font-normal text-gray-500">Permanent</label>
            </div>
          </div>

          <div class="flex items-center">
            <input name="emp-type" type="checkbox" value="full_time" {{ if .Data.EmpType.FullTime -}}checked {{ end -}}class="focus:ring-blue-500 h-5 w-5 text-blue-600 border-gray-300 rounded">
            <div class="ml-3">
              <label class="font-normal text-gray-500">Full Time</label>
            </div>
          </div>
          <div class="flex items-center">
            <input name="emp-type" type="checkbox" value="part_time" {{ if .Data.EmpType.PartTime -}}checked {{ end -}}class="focus:ring-blue-500 h-5 w-5 text-blue-600 border-gray-300 rounded" />
            <div class="ml-3">
              <label class="font-normal text-gray-500">Part Time</label>
            </div>
          </div>
          <div class="flex items-center">
            <input name="emp-type" type="checkbox" value="contract" {{ if .Data.EmpType.Contract -}}checked {{ end -}}class="focus:ring-blue-500 h-5 w-5 text-blue-600 border-gray-300 rounded" />
            <div class="ml-3">
              <label class="font-normal text-gray-500">Contract</label>
            </div>
          </div>
          <div class="flex items-center">
            <input name="emp-type" type="checkbox" value="per_diem" {{ if .Data.EmpType.PerDiem -}}checked {{ end -}}class="focus:ring-blue-500 h-5 w-5 text-blue-600 border-gray-300 rounded" />
            <div class="ml-3">
              <label class="font-normal text-gray-500">Per Day</label>
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Min, Max Salary and Salary Unit -->
      <div class="py-4 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-8">
        <div class="sm:col-span-3">
          <label for="salary-min" class="font-medium text-base text-blue-900 block">
            Minimum Salary in GBP
          </label>
          <div class="mt-1">
            <input type="number" name="salary-min" value="{{ .Data.SalaryMin }}" class="formInput {{ if .Errors.SalaryMin }} input-error{{ end }}" placeholder="45000" />
            {{- if eq .Errors.SalaryMin "inputEmpty" }}
            <span class="text-error">Enter the minimum salary</span>
            {{- else if eq .Errors.SalaryMin "inputInvalid" }}
            <span class="text-error">Invalid minimum salary</span>
            {{- end }}
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="salary-max" class="font-medium text-base text-blue-900 block">
            Maximum Salary in GBP
          </label>
          <div class="mt-1">
            <input type="number" name="salary-max" value="{{ .Data.SalaryMax }}" class="formInput {{- if .Errors.SalaryMax }} input-error{{ end }}" placeholder="75000" />
            {{- if eq .Errors.SalaryMax "inputEmpty" }}
            <span class="text-error">Enter the maximum salary</span>
            {{- else if eq .Errors.SalaryMax "inputInvalid" }}
            <span class="text-error">Invalid maximum salary</span>
            {{- else if eq .Errors.SalaryMax "inputMinGtMax" }}
            <span class="text-error">Maximum salary is less than the maximum</span>
            {{- end }}
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="salary-unit" class="font-medium text-base text-blue-900 block">
            Per
          </label>

          <div class="mt-1">
            <select name="salary-unit" class="shadow-sm focus:ring-blue-500 focus:border-blue-500
              block w-full sm:text-sm border-gray-300 rounded-md">
              <option {{ if eq .Data.SalaryUnit "year" }}selected {{ end -}} value="year">Yearly</option>
              <option {{ if eq .Data.SalaryUnit "month" }}selected {{ end -}} value="month">Monthly</option>
              <option {{ if eq .Data.SalaryUnit "day" }}selected {{ end -}} value="day">Daily</option>
            </select>
            {{- if eq .Errors.SalaryUnit "inputEmpty" }}
            <span class="text-error">Salary unit must be specified</span>
            {{- else if eq .Errors.SalaryUnit "inputInvalid" }}
            <span class="text-error">Salary unit must 'hour', 'day', 'week', 'month' or 'year'</span>
            {{- end }}
          </div>
        </div>
      </div>

      <!-- Skill sets -->
      <div class="my-6 px-4 py-2 border border-blue-200 border-dotted">
        <h4 class="text-lg font-semibold text-blue-900">Choose Skills / Tech Stack</h4>
        <p class="mb-3 text-gray-500">
          This will help tech talents to filter your job by skills or tech stack. Choose up to 4 tags.
        </p>

        {{ range .Data.Skills.Groups }}
        <fieldset class="py-2">
          <legend class="font-medium text-base text-blue-900">{{ .Title }}</legend>
          <div class="space-y-4 sm:space-y-0 sm:flex sm:items-center sm:gap-4">
            {{ range .Tags }}
            <div class="flex items-center gap-4">
              <input type="checkbox" name="skills" value="{{ .Name }}" {{ if .Checked  -}}checked {{ end -}} class="focus:ring-blue-500 h-5 w-5
            text-blue-600 border-gray-300 rounded">
              <label class="font-normal text-gray-500">{{ .Title }} </label>
            </div>
            {{ end }}
          </div>
        </fieldset>
        {{ end }}
        <p class="mt-2 text-gray-500 text-base">Can't find your tech stack? <a href="#" class="text-blue-900 text-base">Contact us</a></p>
      </div>

      <!-- Job Description -->
      <div class="py-2">
        <label for="description" class="font-medium text-base text-blue-900 block">
          * Job Description
        </label>
        <textarea id="description" name="description" class="formInput {{- if .Errors.JobDescription }} input-error{{ end }}">{{- .Data.Description -}}</textarea>
        {{- if eq .Errors.Description "inputEmpty" }}
        <span class="text-error">Enter the markdown describing the job role</span>
        {{- else if eq .Errors.Description "inputInvalid" }}
        <span class="text-error">Invalid markdown</span>
        {{- end }}
      </div>
    </div>

    <div class="pt-8 py-6">
      <div class="py-4">
        <h3 class="text-xl text-blue-900 tracking-tighter font-semibold">Your company Details</h3>
      </div>

      <!-- Company logo -->
      {{- if eq .Data.Mode "create" }}
      <div x-data="imageViewer()">
        <div class="my-2 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
          <div class="space-y-1 text-center">
            <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48"
              aria-hidden="true">
              <path
                d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <div class="flex text-sm text-gray-500">
              <label for="logo"
                class="relative cursor-pointer bg-white rounded-md font-medium text-blue-600 hover:text-blue-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-blue-500">
                <span>Upload a company logo</span>
                <input @change="fileChosen" id="logo" name="logo" type="file" accept="image/*" class="sr-only" />
              </label>
            </div>
            <p class="text-xs text-gray-500">
              PNG, JPG
            </p>
          </div>
        </div>
        <template x-if="imageUrl">
          <div class="flex justify-center">
            <img :src="imageUrl" class="inline-block object-cover h-20 w-20 rounded-md" />
          </div>
        </template>

        <template x-if="!imageUrl">
          <div class="text-center py-1">
            <p class="text-gray-600">No logo selected</p>
          </div>
        </template>
      </div>
      {{- if eq .Errors.Logo "inputEmpty" }}
      <span class="text-error">You have ticked &quot;Add company's logo&quot; so must upload an image or unselect that option</span>
      {{- end }}
      {{- end }}


      <!-- Company Name -->
      <div class="py-2">
        <label for="company-name" class="font-medium text-base text-blue-900 block">
          * Company name
        </label>
        <input type="text" name="company-name" value="{{ .Data.CompanyName }}" class="formInput {{- if .Errors.CompanyName }} input-error{{ end }}" />
        {{- if eq .Errors.CompanyName "inputEmpty" }}
        <span class="text-error">Enter the company name</span>
        {{- else if eq .Errors.CompanyName "inputInvalid" }}
        <span class="text-error">Upper and lower case a to z including apostrophe only</span>
        {{- end }}
      </div>

      <!-- Apply URL -->
      <div class="py-2">
        <label for="apply-url" class="font-medium text-base text-blue-900 block">
          * How to apply
        </label>
        <input type="text" name="apply-url" value="{{ .Data.ApplyURL }}" placeholder="How to apply (Email or URL)" class="formInput {{- if .Errors.ApplyURL }} input-error{{ end }}" />
        {{- if eq .Errors.ApplyURL "inputEmpty" }}
        <span class="text-error">Enter the company website</span>
        {{- else if eq .Errors.ApplyURL "inputInvalid" }}
        <span class="text-error">Invalid url</span>
        {{- end }}
      </div>
    </div>

    <!-- Job Ad features Checkboxes -->
    {{- if eq .Data.Mode "create" }}
    <fieldset class="py-6 pt-8">
      <div class="space-y-4">
        <div class="flex items-center">
          <input id="chk-logo" name="chk-logo" type="checkbox" {{ if .Data.ChkLogo -}}checked {{ end -}} class="focus:ring-blue-500 h-5 w-5 text-blue-700
            border-gray-300 rounded" />
          <div class="ml-3">
            <label for="chk-logo" class="font-medium text-blue-600">
              Add company's logo - {{ (index .Page.Prices "logoRecurring").UnitAmountDisplay }}
            </label>
          </div>
        </div>
        <div class="flex items-center">
          <input id="chk-pinned30" name="chk-pinned30" type="checkbox" {{ if .Data.ChkPinned30 -}}checked {{ end -}}class="focus:ring-blue-500 h-5 w-5
            text-blue-700 border-gray-300 rounded" />
          <div class="ml-3">
            <label for="chk-pinned30" class="font-medium text-blue-600">
              Pinned to top for 30 days - {{ (index .Page.Prices "pinned30Recurring").UnitAmountDisplay }}
            </label>
          </div>
        </div>
        <div class="flex items-center">
          <input id="chk-hl-standard" name="chk-hl-standard" type="checkbox" {{ if .Data.ChkHLStandard  -}}checked {{ end -}}class="focus:ring-blue-500 h-5 w-5 text-blue-700 border-gray-300 rounded">
          <div class="ml-3">
            <label for="chk-hl-standard" class="font-medium text-blue-600">
              Highlight job post in Yellow -  {{ (index .Page.Prices "standardHighlightRecurring").UnitAmountDisplay }}
            </label>
            {{- if eq .Errors.ChkHLStandard "inputInvalid" }}
            <span class="text-error">Unselect this option when using custom highlighting</span>
            {{- end }}
          </div>
        </div>
        <div class="flex items-center">
          <input id="chk-hl-custom" name="chk-hl-custom" type="checkbox" {{ if .Data.ChkHLCustom -}}checked {{ end -}}class="focus:ring-blue-500 h-5 w-5 text-blue-700 border-gray-300 rounded" />
          <div class="ml-3">
            <label for="chk-hl-custom" class="font-medium text-blue-600">
              Highlight job post in your company brand's color - {{ (index .Page.Prices "customHighlightRecurring").UnitAmountDisplay }}
            </label>
            <input type="color" name="hl-col" value="{{ .Data.HLCol }}" />
            {{ if eq .Errors.HLCol "inputInvalid" }}
            <span class="text-error">Select a highlight hex colour for custom highlighting</span>
            {{ end }}
          </div>
        </div>
        <div class="flex items-center">
          <input name="chk-autorenew" type="checkbox" {{ if .Data.ChkAutorenew -}}checked {{ end -}}class="focus:ring-blue-500 h-5 w-5 text-blue-700 border-gray-300 rounded" />
          <div class="ml-3">
            <label for="chk-autorenew" class="font-medium text-blue-600">
              Renew job ad every 30 days
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    {{- end }}

    <div class="px-4 py-3 text-center">
      {{- if eq .Data.Mode "create" }}
      <button id="create-btn" type="submit" class="inline-flex justify-center py-4 px-6 border
        border-transparent shadow-sm text-lg font-medium rounded-md text-white
        bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2
        focus:ring-offset-2 focus:ring-blue-500">
        Post a job - {{ (index .Page.Prices "basicJobListingRecurring").UnitAmountDisplay }}
      </button>
      {{- else }}
      <button id="create-btn" type="submit" class="inline-flex justify-center py-4 px-6 border
        border-transparent shadow-sm text-lg font-medium rounded-md text-white
        bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2
        focus:ring-offset-2 focus:ring-blue-500">
        Update
      </button>
      {{- end }}
    </div>
  </form>
</div>
{{ end }}
