{{ define "plinks" -}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  {{- if .Site.ThemeTag}}
  <script src="{{.Site.BaseURL}}/static/{{.Site.ActiveTheme.Name}}/{{.Site.ActiveTheme.Version}}/js/app.js"></script>
  {{- else}}
  <script src="{{.Site.BaseURL}}/static/js/app.js"></script>
  {{- end}}
  <script>
  document.addEventListener('DOMContentLoaded', function(event) {
    const simplemde = new SimpleMDE({
      element: document.getElementById("description")
    });

    {{- if eq .Data.Mode "create" }}
    const currencySymbol = '£';
    updateCreateBtnText = priceCalcHandler({
      basicJobListing: {{(index .Page.ProductCfg.Products "basicJobListing").Amount}},
      logo: {{(index .Page.ProductCfg.Products "logo").Amount}},
      pinned30: {{(index .Page.ProductCfg.Products "pinned30").Amount}},
      standardHighlight: {{(index .Page.ProductCfg.Products "standardHighlight").Amount}},
      customHighlight: {{(index .Page.ProductCfg.Products "customHighlight").Amount}}}, currencySymbol);
    {{- end }}
  });
  </script>
{{end -}}
{{define "title" }}Add a new job post{{- end}}
{{define "content"}}
{{- if and (eq .Site.ThemeTag "") .Site.HasAppError }}
APPLICATION ERRROR - Check the server logs
{{- end}}
<div class="max-w-4xl mx-auto mt-8 lg:mt-14 px-4 md:px-0">
  <h2 class="text-blue-600 font-semibold text-2xl md:text-4xl">
    Hire Code Pyjamas.
  </h2>
  {{- if eq .Data.Mode "create" }}
  <h2 class="text-blue-900 font-medium text-lg md:text-2xl mt-3">Create a job post to hire the best.</h2>
  {{- else}}
  <h2 class="text-blue-900 font-medium text-lg md:text-2xl mt-3">Edit a job post</h2>
  {{- end}}
</div>

<div class="max-w-4xl mx-auto w-full py-10 my-8 px-8">
  <form x-data method="POST" action="{{.Page.Action}}" enctype="multipart/form-data">
    <!-- Salary Currency -->
    <input type="hidden" name="salary-currency" value="GBP" />
    {{- if eq .Errors.SalaryCurrency "inputEmpty" -}}
    <span class="text-error">Specify the currency for the salary</span>
    {{- else if eq .Errors.SalaryCurrency "inputInvalid" -}}
    <span class="text-error">Invalid currency code</span>
    {{end -}}
    <div>
      <div class="py-4">
        <h3 class="text-xl tracking-tighter font-semibold text-blue-900">Job Details</h3>
      </div>

      <!-- Job title -->
      <div class="py-2">
        <label for="title" class="font-medium text-base text-blue-900 block">* Job Title</label>
        <input x-model="$store.adPreview.title" id="title" type="text" name="title" value="{{.Data.Title}}"
        class="formInput {{- if .Errors.Title}} input-error{{- end}}" placeholder="Job Title" />
        {{- if eq .Errors.Title "inputEmpty"}}
        <span class="text-error">Enter your job title</span>
        {{- end}}
      </div>

      <!-- Job location -->
      <div class="py-2">
        <label for="location" class="font-medium text-base text-blue-900 block">* Location</label>
        <input  x-model="$store.adPreview.location" id="location" type="text" name="location" value="{{.Data.Location}}" class="formInput {{if .Errors.Location}} input-error{{- end}}" />
        <p class="mb-1 text-sm text-gray-400">Only include location such as 'London', 'Manchester'. Do not include the word 'Remote'. For remote options, check the appropriate option boxes below.</p>
        {{- if eq .Errors.Location "inputEmpty" }}
        <span class="text-error">Enter the location of the company</span>
        {{- end }}
      </div>

      <!-- Remote Working option -->
      <fieldset class="py-6">
        <div>
          <legend class="font-medium text-base text-blue-900">Is this role remote?</legend>
          <p class="text-sm text-gray-400">
            Choose Temporarily Remote if hires are expected to return to the office later.
          </p>
        </div>
        <div class="mt-4 space-y-4 sm:space-y-0 sm:flex sm:gap-4">
          <div class="flex items-center">
            <input x-model="$store.adPreview.remote" name="remote" id="remote" type="checkbox" value="remote" {{if .Data.Remote.RemoteWork -}}checked {{end -}}
            class="chk-box h-4 w-4" />
            <label for="remote" class="ml-1 block text-base font-normal text-gray-500">Remote</label>
          </div>
          <div class="flex items-center">
            <input name="remote" id="temp_remote" type="checkbox" value="temp_remote" {{if .Data.Remote.TempRemote -}}checked {{end -}}class="chk-box h-4 w-4" />
            <label for="temp_remote" class="ml-1 block text-base font-normal text-gray-500">Temporarily Remote</label>
          </div>
        </div>
      </fieldset>

      <!-- Type of employment -->
      <fieldset class="py-4">
        <legend class="font-medium text-base text-blue-900">Type of Employment</legend>
        <div class="space-y-4 sm:space-y-0 sm:flex sm:flex-wrap  sm:gap-4 mb-6">
          <div class="flex items-center">
            <input x-model="$store.adPreview.temp" name="emp-type" id="temporary" type="checkbox" value="temporary" {{if .Data.EmpType.Temporary -}}checked {{end -}}class="chk-box h-4 w-4">
            <div class="ml-1">
              <label for="temporary" class="font-normal text-gray-500">Temporary</label>
            </div>
          </div>
          <div class="flex items-center">
            <input x-model="$store.adPreview.perm" name="emp-type" id="permanent" type="checkbox" value="permanent" {{if .Data.EmpType.Permanent -}}checked {{end -}}class="chk-box h-4 w-4">
            <div class="ml-1">
              <label for="permanent" class="font-normal text-gray-500">Permanent</label>
            </div>
          </div>
          <div class="flex items-center">
            <input x-model="$store.adPreview.fullT" name="emp-type" id="full_time" type="checkbox" value="full_time" {{if .Data.EmpType.FullTime -}}checked {{ end -}}class="chk-box h-4 w-4">
            <div class="ml-1">
              <label for="full_time" class="font-normal text-gray-500">Full Time</label>
            </div>
          </div>
          <div class="flex items-center">
            <input x-model="$store.adPreview.partT" name="emp-type" id="part_time" type="checkbox" value="part_time" {{if .Data.EmpType.PartTime -}}checked {{end -}}class="chk-box h-4 w-4" />
            <div class="ml-1">
              <label for="part_time" class="font-normal text-gray-500">Part Time</label>
            </div>
          </div>
          <div class="flex items-center">
            <input x-model="$store.adPreview.contract" name="emp-type" id="contract" type="checkbox" value="contract" {{if .Data.EmpType.Contract -}}checked {{end -}}class="chk-box h-4 w-4" />
            <div class="ml-1">
              <label for="contract" class="font-normal text-gray-500">Contract</label>
            </div>
          </div>
          <div class="flex items-center">
            <input x-model="$store.adPreview.perDiem" name="emp-type" id="per_diem" type="checkbox" value="per_diem" {{if .Data.EmpType.PerDiem -}}checked {{end -}}class="chk-box h-4 w-4" />
            <div class="ml-1">
              <label for="per_diem" class="font-normal text-gray-500">Per Day</label>
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Min, Max Salary and Salary Unit -->
      <div class="py-3 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-8">
        <div class="sm:col-span-3">
          <label for="salary-min" class="font-medium text-base text-blue-900 block">
            * Minimum Salary in GBP
          </label>
          <div class="mt-1">
            <input x-model="$store.adPreview.min" id="min" type="number" name="salary-min" value="{{ .Data.SalaryMin }}" class="formInput {{ if .Errors.SalaryMin }} input-error{{ end }}" placeholder="45000" />
            {{- if eq .Errors.SalaryMin "inputEmpty" }}
            <span class="text-error">Enter the minimum salary</span>
            {{- else if eq .Errors.SalaryMin "inputInvalid" }}
            <span class="text-error">Invalid minimum salary</span>
            {{- end }}
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="salary-max" class="font-medium text-base text-blue-900 block">
            * Maximum Salary in GBP
          </label>
          <div class="mt-1">
            <input x-model="$store.adPreview.max" id="max" type="number" name="salary-max" value="{{ .Data.SalaryMax }}" class="formInput {{- if .Errors.SalaryMax }} input-error{{ end }}" placeholder="75000" />
            {{- if eq .Errors.SalaryMax "inputEmpty" }}
            <span class="text-error">Enter the maximum salary</span>
            {{- else if eq .Errors.SalaryMax "inputInvalid" }}
            <span class="text-error">Invalid maximum salary</span>
            {{- else if eq .Errors.SalaryMax "inputMinGtMax" }}
            <span class="text-error">Maximum salary is less than the maximum</span>
            {{- end }}
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="salary-unit" class="font-medium text-base text-blue-900 block">
            Per
          </label>

          <div class="mt-1">
            <select name="salary-unit" class="shadow-sm focus:ring-blue-500 focus:border-blue-500
              block w-full sm:text-sm border-gray-300 rounded-md">
              <option {{ if eq .Data.SalaryUnit "year" }}selected {{ end -}} value="year">Yearly</option>
              <option {{ if eq .Data.SalaryUnit "month" }}selected {{ end -}} value="month">Monthly</option>
              <option {{ if eq .Data.SalaryUnit "day" }}selected {{ end -}} value="day">Daily</option>
            </select>
            {{- if eq .Errors.SalaryUnit "inputEmpty" }}
            <span class="text-error">Salary unit must be specified</span>
            {{- else if eq .Errors.SalaryUnit "inputInvalid" }}
            <span class="text-error">Salary unit must 'hour', 'day', 'week', 'month' or 'year'</span>
            {{- end }}
          </div>
        </div>
      </div>

      <!-- Skill sets -->
      <div x-data="{ open: false }" class="my-6 px-4 py-2 border border-blue-200 border-dotted">
        <h4 class="text-lg font-semibold text-blue-900">Choose Skills / Tech Stack</h4>
        <p class="mb-3 text-sm text-gray-400">
          This will help tech talent to filter your job by skills or tech stack. Choose up to 5 tags.
        </p>
        <button @click="open = ! open" type="button" class="py-3 px-2 w-full bg-white flex items-center justify-between text-sm text-gray-500 hover:text-gray-500 border-2 border-gray-200 rounded" aria-controls="filter-section-0">
          <span class="font-medium text-gray-500">
            Choose Skills / Tech Stack
          </span>
          <span class="ml-6 flex items-center">
            <svg x-show="!open" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
            </svg>
            <svg x-show="open" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 10a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
          </span>
        </button>
        <div id="skills-checkboxes" x-show="open" x-data="{ count: initialSkillsCount() }" class="pt-6 bg-white py-3 px-2" id="filter-section-0">
          {{- range .Data.SkillsContainer.TagGroups }}
          <fieldset class="py-2">
            <legend class="font-medium text-base text-blue-900">{{ .Title }}</legend>
            <div class="space-y-4 sm:space-y-0 sm:flex sm:flex-wrap sm:items-center sm:gap-4">
              {{ range .Tags }}
              <div class="flex items-center gap-1">
                <input @click="if (($event.target.checked) && (count > 4)) {$event.target.checked = false} else {count += $event.target.checked ? 1 : -1}" type="checkbox" name="skills" id="{{ .Name }}" value="{{ .Name }}" {{ if .Checked  -}}checked {{ end -}} class="chk-box h-4 w-4">
                <label for="{{ .Name }}" class="font-normal text-gray-500">{{ .Title }}</label>
              </div>
              {{ end -}}
            </div>
          </fieldset>
          {{ end -}}
          <p class="mt-4 text-gray-500 text-base">Can't find your tech stack? <a href="mailto:team@codepyjamas.com" class="text-blue-900 text-base">Contact us</a></p>
        </div>
      </div>

      <!-- Job Description -->
      <div class="py-2">
        <label for="description" class="font-medium text-base text-blue-900 block">
          * Job Description
        </label>
        <textarea id="description" name="description" class="formInput {{- if .Errors.JobDescription}} input-error{{- end}}">{{- .Data.Description -}}</textarea>
        {{- if eq .Errors.Description "inputEmpty"}}
        <span class="text-error">Enter the markdown describing the job role</span>
        {{- else if eq .Errors.Description "inputInvalid"}}
        <span class="text-error">Invalid markdown</span>
        {{- end}}
      </div>
    </div>
    <hr>
    <div class="pt-2 py-6 md:pt-8">
      <div class="py-6">
        <h3 class="text-xl text-blue-900 tracking-tighter font-semibold">Your company Details</h3>
      </div>

      <!-- Company logo -->
      {{- if eq .Data.Mode "create"}}
      <div x-data="$store.imageViewer">
        <p class="font-medium text-base text-blue-900 block">Company Logo</p>
        <div class="my-2 px-6 pt-5 pb-6 border border-blue-200 border-dotted">
          <div class="flex flex-col sm:flex-row justify-center items-center gap-x-3">
            <div class="felx flex-col">
              <template x-if="$store.imageViewer.uploadSelected">
                <div class="relative">
                  <img :src="$store.imageViewer.imageUrl" class="inline-block object-cover h-24 w-24 rounded-md" />
                  <button @click="$store.imageViewer.removeLogo()" type="button" class="absolute top-0 left-0 right-0 bg-red-600 text-white -m-2 h-6 w-6 rounded-full opacity-90 hover:bg-red-400">x</button>
                </div>
              </template>
              <template x-if="! $store.imageViewer.uploadSelected">
                <div>
                  <span class="block h-24 w-24 overflow-hidden bg-gray-100">
                    <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                      <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                  </span>
                  <p class="mt-2 text-xs text-gray-500 text-center">PNG, JPG</p>
                </div>
              </template>
            </div>
            <label for="logo"
              class="cursor-pointer mt-2 sm:mt-0 px-1 py-0 sm:px-2 sm:py-1 bg-white rounded-md font-medium ring-1 ring-blue-600 text-blue-600 hover:text-blue-700 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-blue-700">

              <template x-if="$store.imageViewer.uploadSelected">
              <span class="text-sm">Change logo</span>
              </template>

              <template x-if="!$store.imageViewer.uploadSelected">
              <span class="text-sm">Choose logo</span>
              </template>

              <input @change="$store.imageViewer.fileChosen(event)" id="logo" x-ref="logoInput" name="logo" type="file" accept="image/*" class="sr-only"/>
            </label>
          </div>
        </div>
      </div>
      {{- if eq .Errors.Logo "inputEmpty"}}
      <span class="text-error">You have ticked &quot;Add company's logo&quot; so must upload an image or unselect that option</span>
      {{- else if eq .Errors.Logo "inputInvalid"}}
      <span class="text-error">Unsupported file type</span>
      {{- end}}
      {{- end}}

      <!-- Company Name -->
      <div class="py-2">
        <label for="company-name" class="font-medium text-base text-blue-900 block">
          * Company Name
        </label>
        <input x-model="$store.adPreview.companyName" id="companyName" type="text" name="company-name" value="{{.Data.CompanyName}}"
        class="formInput {{- if .Errors.CompanyName}} input-error{{- end}}" />
        <p class="mb-1 text-sm text-gray-400">Do not include Ltd., Inc, etc.</p>
        {{- if eq .Errors.CompanyName "inputEmpty"}}
        <span class="text-error">Enter your company name</span>
        {{- else if eq .Errors.CompanyName "inputInvalid"}}
        <span class="text-error">Upper and lower case a to z including apostrophe only</span>
        {{- end}}
      </div>

      <!-- Apply URL -->
      <div class="py-2">
        <label for="apply-url" class="font-medium text-base text-blue-900 block">
          * How to apply
        </label>
        <input type="text" name="apply-url" value="{{.Data.ApplyURL}}" placeholder="Apply URL" class="formInput {{- if .Errors.ApplyURL}} input-error{{- end}}" />
        <p class="mb-1 text-sm text-gray-400">Include https in your apply link. For example 'https://www.acme.com/apply'</p>
        {{- if eq .Errors.ApplyURL "inputEmpty"}}
        <span class="text-error">Enter an apply url</span>
        {{- else if eq .Errors.ApplyURL "inputInvalid"}}
        <span class="text-error">Invalid url - 'https' is required</span>
        {{- end}}
      </div>
    </div>
    <hr>

    <!-- Job Ad features Checkboxes -->
    {{- if eq .Data.Mode "create"}}
    <fieldset class="py-6 pt-8">
      <div class="space-y-4">
        <div class="flex items-center">
          <input id="chk-basic" name="chk-basic" type="checkbox" checked disabled class="chk-box" />
          <div class="ml-3">
            <label for="chk-basic" class="font-medium text-blue-600">
              Basic listing - FREE
            </label>
          </div>
        </div>
        <div x-data class="flex items-center">
          <input @change="$store.imageViewer.removeLogo()" @click="$store.imageViewer.text = ! $store.imageViewer.text" id="chk-logo" name="chk-logo" type="checkbox" {{ if .Data.ChkLogo -}}checked {{ end -}} class="chk-box" x-model="$store.imageViewer.chkLogo"
          />
          <div class="ml-3">
            <label for="chk-logo" class="font-medium text-blue-600">
              Add company's logo - {{(index .Page.ProductCfg.Products "logo").Amount | displayPrice}}
            </label>
            <template x-if="$store.imageViewer.text && !$store.imageViewer.chkLogo">
              <span class="text-sm text-gray-500">This will be automatically selected when you upload a company logo.</span>
            </template>
          </div>
        </div>
        <div x-data class="flex items-center">
          <input id="chk-pinned30" name="chk-pinned30" type="checkbox" {{ if .Data.ChkPinned30 -}}checked {{ end -}}class="chk-box"
          x-model="$store.adPreview.chkPinned"/>
          <div class="ml-3">
            <label for="chk-pinned30" class="font-medium text-blue-600">
              Pinned to top for 30 days - {{(index .Page.ProductCfg.Products "pinned30").Amount | displayPrice}}
            </label>
          </div>
        </div>
        <div x-data class="flex items-center">
          <input id="chk-hl-standard" name="chk-hl-standard" type="checkbox" {{ if .Data.ChkHLStandard  -}}checked {{ end -}}class="chk-box"
          x-model="$store.adPreview.chkStd" :disabled="$store.adPreview.chkCustom"/>
          <div class="ml-3">
            <label for="chk-hl-standard" class="font-medium text-blue-600">
              Highlight job post in <span class="inline-block px-1 py-1 bg-yellow-100">Yellow</span> - {{(index .Page.ProductCfg.Products "standardHighlight").Amount | displayPrice}}
            </label>
            {{- if eq .Errors.ChkHLStandard "inputInvalid"}}
            <p class="text-error">Unselect this option when using custom highlighting</p>
            {{- end}}
          </div>
        </div>
        <div x-data class="flex items-center">
          <input id="chk-hl-custom" name="chk-hl-custom" type="checkbox" {{ if .Data.ChkHLCustom -}}checked {{ end -}}class="chk-box"
          x-model="$store.adPreview.chkCustom" :disabled="$store.adPreview.chkStd"/>
          <div class="ml-3">
            <label for="chk-hl-custom" class="font-medium text-blue-600">
              Highlight job post in your company brand's color - {{(index .Page.ProductCfg.Products "customHighlight").Amount | displayPrice}}
            </label>
            <input id="hl-col" type="color" name="hl-col" value="{{ .Data.HLCol }}" @change="$store.adPreview.hlCol" x-model="$store.adPreview.hlCol"/>
            {{if eq .Errors.HLCol "inputInvalid"}}
            <p class="text-error">Select a highlight hex colour for custom highlighting</p>
            {{- end}}
          </div>
        </div>
        <div class="flex items-center">
          <input name="chk-autorenew" id="chk-autorenew" type="checkbox" {{ if .Data.ChkAutorenew -}}checked {{ end -}}class="chk-box" />
          <div class="ml-3">
            <label for="chk-autorenew" class="font-medium text-blue-600">
              Renew job ad every 30 days
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <span class="text-blue-800 font-medium"><span class="text-yellow-500 text-lg">⚠️</span> Choose all the features to make your job ad
    stand out as these can't be changed later.</span>
    <span class="text-blue-800 font-medium">All features are applied for 30 days.</span>
    {{- end}}

    <!-- Ad preview -->
    {{- if eq .Data.Mode "create" }}
    <div class="border-t border-gray-200 my-8">
      <h3 class="font-medium text-lg text-blue-900 text-center mt-7 mb-1">Job Ad Preview</h3>
      <p class="text-gray-600 text-base text-center">This is how your job ad will look like.</p>
      <ul class="shadow overflow-hidden mx-2 my-2 lg:my-5 sm:rounded-md sm:mx-4 md:mx-0">
        <li :class="$store.adPreview.chkStd ? 'bg-yellow-100' : ''" :style="$store.adPreview.chkCustom ? `background-color: ${$store.adPreview.hlCol}` : '' ">
          <span class="job-summary">
            <div class="grid grid-cols-3 md:grid-cols-6 lg:grid-cols-5 items-center px-3 py-2">
              <div class="flex items-center gap-4 md:gap-5 col-span-2">
                <!-- Logo preview -->
                <template x-if="$store.imageViewer.uploadSelected">
                  <img class="h-10 w-10 md:h-20 md:w-20" :src="$store.imageViewer.imageUrl" alt="logo">
                </template>
                <template x-if="! $store.imageViewer.uploadSelected">
                  <span class="h-10 w-10 md:h-20 md:w-20 border-2 border-gray-500 flex justify-center items-center text-xs md:text-base">Logo</span>
                </template>
                <!-- Details preview -->
                <div>
                  <span x-text="$store.adPreview.title" class="text-xs sm:text-sm tracking-tight lg:text-lg font-semibold"></span>
                  <template x-if="$store.adPreview.remote">
                    <span class="ml-0.5 text-xs sm:text-sm bg-gray-100 px-1 rounded-md shadow-sm">Remote</span>
                  </template>

                  <p x-text="$store.adPreview.companyName" class="sm:mt-1 text-xs sm:text-base font-medium"></p>
                  <div class="flex flex-col items-start sm:flex-row sm:items-center sm:justify-start md:items-baseline">
                    <span x-text="$store.adPreview.location" class="-ml-1 px-1 text-xs lg:text-base"></span>
                    <div class="flex items-center">
                      <span class="text-xs md:text-sm" :class="$store.adPreview.min ? 'block' : 'hidden' ">&#163;</span>
                      <span x-text="$store.adPreview.formatSalary($store.adPreview.min)" :class="$store.adPreview.min ? 'block' : 'hidden' "
                      class="text-xs md:text-sm tracking-tighter"></span>
                      <span class="mx-1" :class="$store.adPreview.min ? 'block' : 'hidden'">-</span>
                      <span class="text-xs md:text-sm" :class="$store.adPreview.max ? 'block' : 'hidden' ">&#163;</span>
                      <span x-text="$store.adPreview.formatSalary($store.adPreview.max)" :class="$store.adPreview.max ? 'block' : 'hidden' "
                      class="text-xs md:text-sm tracking-tighter"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hidden md:block md:col-start-3 md:col-end-5 md:ml-5 lg:col-span-1"></div>
              <!-- Employment type -->
              <div class="col-end-4 md:col-span-2 justify-self-end">
                <p class="flex items-center justify-end sm:ml-6">
                  <template x-if="$store.adPreview.chkPinned">
                    <span class="text-sm md:text-xl mr-3">📌</span>
                  </template>
                </p>
                <div class="mt-2 flex flex-wrap gap-1 items-center justify-end">
                  <p :class="$store.adPreview.temp ? 'block' : 'hidden' " class="emp-type">Temporary</p>
                  <p :class="$store.adPreview.perm ? 'block' : 'hidden' " class="emp-type">Permanent</p>
                  <p :class="$store.adPreview.fullT ? 'block' : 'hidden' " class="emp-type">Full time</p>
                  <p :class="$store.adPreview.partT ? 'block' : 'hidden' " class="emp-type">Part time</p>
                  <p :class="$store.adPreview.contract ? 'block' : 'hidden' " class="emp-type">Contract</p>
                  <p :class="$store.adPreview.perDiem ? 'block' : 'hidden' " class="emp-type">Per day</p>
                </div>
              </div>
            </div>
          </span>
        </li>
      </ul>
    </div>
    {{- end}}

    <div class="mt-4 px-4 py-3 text-center">
      {{- if eq .Data.Mode "create" }}
      <button id="create-btn" type="submit" class="post-job py-2 px-4 button">
        Post a job - {{(index .Page.ProductCfg.Products "basicJobListing").Amount}}
      </button>
      {{- else}}
      <a href="/employer/{{.UID}}" class="inline-block button py-2 px-4 border border-gray-300 text-gray-700 bg-white hover:bg-gray-50">Cancel</a>
      <button id="create-btn" type="submit" class="button py-2 px-4 ml-2.5">Update</button>
      {{- end}}
    </div>
  </form>
</div>
{{- end}}
